$fontFamily: "Montserrat";

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1590;

$tablet-width: 768;
$desktop-width: 1200;
$mobile-width-only: 576;

$containerPadding: 30px;

$darkBg: #141414;
$yellowBg: #E8AA31;

