@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap);

@font-face {
    font-family: icons;
    font-display: swap;
    font-style: normal;
    src: 
        url("./icons.ttf") format("woff2"),
        url("./icons.ttf") format("woff"),
}